@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

  
body {
  background-color: #fff9ea;
  font-family: Arial, sans-serif;
  background-color: #f8f4e3;
  height: 100%;
  margin: 0;

}
.container img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  display: flex ;
  justify-content:center;
  align-items: center;
  gap: 20px; /* Espaçamento entre as imagens */
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  height: 80vh;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  z-index: 1;
}
.arrow.left {
  left: 10px;
}
.arrow.right {
  right: 10px;
}

.dog img,
.imagem-cortada_pitbull,
.imagem-cortada_bulldog {
  width: 100%; /* Definindo a largura das imagens */
  height: 200px; /* Definindo a altura das imagens */
  border-radius: 45%; /* Moldura redonda */
  border: 6px solid yellow; /* Moldura amarela */
  /* Para garantir que a imagem cubra completamente o contêiner */
  object-position: top; /* Para focar na parte superior da imagem */
  cursor: pointer;
  transition: border-color 0.3s;
  object-fit: cover;; /* Para garantir que a imagem cubra completamente o contêiner */
  margin: 0 10px;
  text-align: center;
  display: flex;
  margin: auto;
}

.dog img:hover,
.imagem-cortada_pitbull:hover,
.imagem-cortada_bulldog:hover {
  border-color: #ffcc00; /* Cor da moldura ao passar o mouse */
}

.imagem-cortada_pitbull{
  clip-path: inset(0 0 0 0%);
}
.info {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
